@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* header style */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

/* Banner styling */
.section-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 0 1.5rem;
}

/* headings styles */
.subtitle {
  @apply text-[#b91c1c] uppercase tracking-wide text-lg font-medium;
}

.main-title {
  @apply text-[#1e293b] text-3xl md:text-4xl font-bold md:leading-snug leading-snug;
}

/* cards style */
.heartStar {
  border-radius: 0px 16px 0px 28px;
}

.active {
  color: green;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 350px) {
  header img {
    width: 60%;
  }
  header.my_modal_5 {
    width: 50%;
  }
  header {
    padding: 3px;
  }

  figure img {
    width: 75%;
  }

  .card-body {
    width: 100%;
  }
  .layout {
    width: 380px;
  }

  .foot-width {
    width: 380px;
  }
}

@media screen and (min-width: 1025px) {
  .section-container {
    padding: 0 6rem 0 6rem;
  }
}
